@import url('../reset.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --toolbar-height: 3rem;

    --color-blue: #3571FF;
    --color-purple: #A989EE;
    --color-red: #FB104A;
    --color-yellow: #FEC400;
    --color-green: #29CC97;

    --color-black: #252733;
    --color-gray-800: #9FA2B4;
    --color-gray-800-o: #6263687c;
    --color-gray-500: #d0d1d7;
    --color-gray-400: #e0e0e3;
    --color-gray-300: #E6E7EA;
    --color-white: #FFFFFF;


    --color-positive: var(--color-green);
    --color-positive-text: var(--color-white);

    --color-negative: var(--color-red);
    --color-negative-text: var(--color-white);

    --color-neutral: var(--color-blue);
    --color-neutral-text: var(--color-white);

    --color-warning: var(--color-yellow);
    --color-warning-text: var(--color-black);

    --color-info: var(--color-purple);
    --color-info-text: var(--color-white);

    --color-interactivity: var(--color-blue);
    --color-interactivity-text: var(--color-white);
   
    --color-highlight: var(--color-purple);
    --color-highlight-text: var(--color-white);

    --background: var(--color-gray-500);
    --text: var(--color-black);
    --text-bold: 700;


    --radius-24: 2rem;
    --radius-16: 1rem;
    --radius-8: .5rem;


    --button-color: var(--color-gray-300);
    --button-border-color: var(--color-gray-800);
    --button-text-color: var(--color-black);

    --button-color-primary: var(--color-blue);
    --button-border-color-primary: var(--color-blue);
    --button-text-color-primary: var(--color-white);

    --gap: .1rem;

}

html, body {
    height: 100%;
    /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: var(--background);
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

main {
    padding: var(--toolbar-height) 0 0 0;
}

button, a {
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

.-mild {
    background-color: var(--color-white);
    color: var(--text);
}
.-warning,
.-moderate {
    background-color: var(--color-warning) !important;
    color: var(--color-warning-text) !important;
    font-weight: 500 !important;
}
.-danger,
.-severe {
    background-color: var(--color-negative) !important;
    color: var(--color-negative-text) !important;
    font-weight: 500 !important;
}




.h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0;
}


.h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: .75rem 0;
}


.p {
    line-height: 1.3rem;
}


/**

    Button

 */


.button {
    --radius: var(--radius-8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-weight: 700;
    border-width: .1rem;
    border-style: solid;
    transform: scale(1.01);
    border-color: var(--button-border-color);
    border-radius: var(--radius);
    box-shadow: 0 .3rem .2rem -.2rem rgba(0,0,0,.1);
    transition: all .2s;
}
.button:hover {
    background-color: var(--color-gray-400);
    border-color: var(--color-gray-400);
    transform: scale(1.03);
    box-shadow: 0 1rem .4rem -.7rem rgba(0,0,0,.2);
    border-color: var(--button-border-color-primary-hover);
}

.button.-primary {
    background-color: var(--button-color-primary);
    border-color: var(--button-border-color-primary);
    color: var(--button-text-color-primary);
    box-shadow: 0 .3rem .2rem -.2rem rgba(0,0,0,.3);
}

.button.-primary:hover {    
    box-shadow: 0 1rem .4rem -.7rem rgba(0,0,0,.3);
}


/**

    Toolbar

 */


.toolbar {
    --button-color: var(--color-gray-300);
    --radius: 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: var(--gap);
    width: 100%;
    height: 100%;
    border-radius: var(--radius);

}

.toolbar .spacer {
    flex-grow: 1;
}

.toolbar > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;      
    background-color: var(--button-color);
    border-width: 0px;
    border-style: solid;
    border-bottom-width:  2px;
    border-color: var(--button-color);
}

.toolbar a,
.toolbar button {
    background-color: var(--button-color);
    color: var(--color-text);
}

.toolbar a.-active,
.toolbar button.-active {
    border-color: var(--color-interactivity);
}

.toolbar a:hover,
.toolbar button:hover,
.toolbar a.-active:hover,
.toolbar button.-active:hover {
    border-color: var(--color-interactivity);
    background-color: var(--color-gray-500);
}
