* {
  box-sizing: border-box;
}
html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices */
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #333;
  background-image: linear-gradient(
    130deg,
    #ececec 0%,
    #ececec 50%,
    #ffffff 100%
  );
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--page-background);
}
