
.heading {
    padding: 0 1rem;
    display: flex;
    align-items: center;

    vertical-align: middle;
    background-color: var(--color-gray-400);
    margin: 0 0 var(--gap) 0;
    gap: var(--gap);
    height: var(--heading-height);
}
.heading.-sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

.heading:has(h1),
.heading:has(h2),
.heading:has(h3),
.heading:has(h4) {
    background-color: transparent;
    justify-content: space-between;
    padding: 0;
}
.heading > h1,
.heading > h2,
.heading > h3 {
    margin: 0;
    padding: 0 1rem;
    background-color: var(--color-background);
    flex-grow: 2;
}
.heading > h1,
.h1.heading {
    height: calc(2 * var(--heading-height));
}

.heading .heading-icon {
    height: 65%;
    aspect-ratio: 1;
    margin: 1rem 1rem 1rem 0;
}


.heading > .actions {
    display: flex;
    align-items: center;
    gap: var(--gap);
    margin: 0;
}
.heading > .actions > button,
.heading > .actions > a{
    background-color: var(--color-background);
    border: 0;
    padding: 0 1rem;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    height: var(--heading-height);
    min-width: var(--heading-height);
}
.heading > .actions > button:has(svg:first-child:last-child),
.heading > .actions > a:has(svg:first-child:last-child) {
    padding: 0;
}


.heading > .actions svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}



.heading > .actions > button:hover,
.heading > .actions > a:hover,
.heading > .actions > button:active,
.heading > .actions > a:active  {
    color: var(--color-interactivity);
}
.heading > .actions > button.-primary,
.heading > .actions > a.-primary {
    color: var(--color-interactivity);
}

.heading > .actions > button.-primary:hover,
.heading > .actions > a.-primary:hover {
    background-color: var(--color-interactivity);
    color: var(--color-interactivity-text);
}

.heading > .actions > button.-danger {
    background-color: var(--color-background);
    color: var(--color-negative);
}


.heading > .actions > button.-danger:hover,
.heading > .actions > a.-danger:hover,
.heading > .actions > button.-danger:active,
.heading > .actions > a.-danger:active,
.heading > .actions > button.-close:hover,
.heading > .actions > a.-close:hover,
.heading > .actions > button.-close:active,
.heading > .actions > a.-close:active {
    background-color: var(--color-negative);
    color: var(--color-negative-text);
}

