
.-block {
    display: block !important;
}
.-none {
    display: none !important;
}

.flex {
    display: flex;
}

.flex.-column {
    flex-direction: column;
}


.flex.-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
